{% load static %}
<html>
    <head>
        <title>Glossary List</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/paint.css' %}">
    </head>
    <body>
        <div>
            <h1  class="text-center"> Please choose a glossary, {{current_login}} </a></h1>
        </div>
        <div class="container">
            <div class="row">
                {% for glossary in glossarys %}
                <div class="col-6 col-md-4">
                    <form role="form" action="room" method="post">
                        {% csrf_token %}
                        <h3>Title:</h3>
                        <h2>{{ glossary.name }}</h2>
                        <h3>Word examples:</h3>
                        <p>{{ glossary.words|truncatewords:3 }}</p>
                        <input name="glossary_name" class="form-control" value="{{ glossary.name }}">
                        <button type="submit" class="btn btn-default">Confirm</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>