{% load static %}
<!--<html>-->
    <!--<head>-->
        <!--<title>Glossary List</title>-->
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
        <!--<link rel="stylesheet" href="{% static 'css/paint.css' %}">-->
    <!--</head>-->
    <!--<body>-->
        <!--<div>-->
            <!--<h1  class="text-center"> Выберите словарь, {{current_login}} </a></h1>-->
        <!--</div>-->
        <!--<div class="container">-->
            <!--<div class="row">-->

                <!--<div class="col-6 col-md-4">-->
                    <!--<p>{{ room_id }}</p>-->
                    <!--<button>Get External Content</button>-->
                    <!--<div id="here"></div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</body>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script type = "text/javascript" src="{% static 'js/room.js' %}"></script>-->
<!--</html>-->
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/paint.css' %}">
    </head>
    <!------ Include the above in your HEAD tag ---------->
    <body>
    <div class="container text-center">
        <div class="col-lg-12 col-lg-offset-6">
                <p id="current_word">
                    {% if current_role == 'master' %}
                        Current word: {{ current_word }}
                    {% endif %}
                </p>
        </div>
        <div class="col-lg-12 col-lg-offset-6">
            <p id="current_login">You are: {{ current_login }}</p>
            <p id="current_role">Your current role: {{ current_role }}</p>
        </div>
    </div>
    <div class="container" id = "chats_container">
        <div class="row">
            <div class="col">
                <div class="container" id="questions">
                    <div id="messages-q">
                        {% for question in questions %}
                            <div class="msg-left">
                                {% if question.response == 'yes' %}
                                    <bdo class="yes_answered">
                                    {{ question.author }}: {{ question.message }}?
                                    </bdo>
                                {% endif %}
                                {% if question.response == 'no' %}
                                    <bdo class="no_answered">
                                    {{ question.author }}: {{ question.message }}?
                                    </bdo>
                                {% endif %}
                                {% if question.response == 'no_response' %}
                                    <bdo>
                                    {{ question.author }}: {{ question.message }}?
                                    </bdo>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="container">
                        <div clas="row">
                            <div class="col">
                                <input id="question_field" placeholder="Your question" pattern="^[0-9a-zA-Z\s]+$" data-toggle="tooltip" data-placement="bottom">
                            </div>
                            <div class="col">

                                <button type="submit" class="btn btn-default" id="set_question" pattern="^[a-zA-Z\s]+$">Ask</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container" id="guessings">
                    <div id="messages-g">
                        {% for guessing in guessings %}
                            <div class="msg-right">
                                {% if guessing.response == 'correct' %}
                                    <bdo class="yes_answered">
                                    Is it {{ guessing.message }}? :{{ guessing.author }}
                                    </bdo>
                                {% endif %}
                                {% if guessing.response == 'incorrect' %}
                                    <bdo class="no_answered">
                                    Is it {{ guessing.message }}? :{{ guessing.author }}
                                    </bdo>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="container">
                        <div clas="row">
                            <div class="col">
                                <input id="guessing_field" placeholder="Your guess" data-toggle="tooltip" data-placement="bottom" pattern="^[0-9a-zA-Z\s]+$">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-default" id="set_guessing">Maybe this?</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- DIALOG FOR MASTER -->
        <div class="modal fade" id="modal_for_master" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">New question!</h4>
                </div>
                <div class="modal-body">
                  <p id="question_for_master">Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal" id="master_said_yes">Yes</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" id="master_said_no">No</button>
                </div>
              </div>

            </div>
        </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>$('#messages-q').scrollTop($('#messages-q')[0].scrollHeight);</script>
    <script>$('#messages-g').scrollTop($('#messages-g')[0].scrollHeight);</script>
    <script type = "text/javascript" src="{% static 'js/room.js' %}"></script>
</html>